.hidden-btn {
  visibility: hidden;
}

.user-role-tag {
  background-color: #006699;
  color: white;
  margin: 6px;
  padding: 6px;
  border-radius: 6px;
}

label {
  margin: 10px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1.3em;
  color: #006699;
  font-style: italic;
  text-align: right;
}

.search-film {
  margin: 0;
  padding-top: 0;
}

.genre {
  font-size: 0.8em;
  font-weight: bold;
}
